@import "tailwindcss";

/* :root { */
/* --background: #ffffff;
  --foreground: #171717; */
/* --primary: #1c1c22; */
/* --accent: #00ff99; */

/* --accent-hover: #00e187; */
/* } */

:root {
  --primary: #0f172a; /* deep navy (background) */
  --accent: #38bdf8; /* sky blue / cyan */
  --accent-hover: #0284c7; /* darker cyan for hover */
}

@theme inline {
  /* --color-background: var(--background);
  --color-foreground: var(--foreground); */
  --color-primary: var(--primary);
  --color-accent: var(--accent);
  --color-accent-hover: var(--accent-hover);

  /* --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono); */

  --font-primary: var(--font-fira-code);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  /* background: var(--background);
  color: var(--foreground); */
  /* font-family: Arial, Helvetica, sans-serif; */
  @apply font-primary bg-primary text-white leading-loose;
}

.h1 {
  @apply text-[48px] xl:text-[80px] leading-[1.1] font-semibold;
}

.h2 {
  @apply text-[36px] xl:text-[48px] leading-[1.1] font-semibold;
}
.h3 {
  @apply text-[20px] xl:text-[24px] leading-[1.1] font-semibold;
}

.text-outline {
  -webkit-text-stroke: 1px #ffffff;
}

.text-outline-hover {
  -webkit-text-stroke: 1px #00ff99;
}

/* Hide scrollbar utility */
.scrollbar-none {
  -ms-overflow-style: none; /* IE and Edge */
  scrollbar-width: none; /* Firefox */
}

.scrollbar-none::-webkit-scrollbar {
  display: none; /* Chrome, Safari, Opera */
}
